---
http_interactions:
- request:
    method: post
    uri: https://qualysapi.qualys.eu/api/2.0/fo/session/
    body:
      encoding: UTF-8
      string: action=login&password=PASSWORD&username=USERNAME
    headers:
      X-Requested-With:
      - ruby qualys_api
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE SIMPLE_RETURN SYSTEM "https://qualysapi.qualys.eu/api/2.0/simple_return.dtd">
        <SIMPLE_RETURN>
          <RESPONSE>
            <DATETIME>2016-02-23T22:43:50Z</DATETIME>
            <TEXT>Logged in</TEXT>
          </RESPONSE>
        </SIMPLE_RETURN>
  recorded_at: Tue, 23 Feb 2016 22:43:50 GMT
recorded_with: VCR 3.0.1
