---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/knowledge_base/vuln/?action=list&details=All&ids=38602
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - ruby qualys_api
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '86400'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '296'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE KNOWLEDGE_BASE_VULN_LIST_OUTPUT
        SYSTEM \"https://qualysapi.qualys.eu/api/2.0/fo/knowledge_base/vuln/knowledge_base_vuln_list_output.dtd\">\n<!--
        This report was generated with an evaluation version of Qualys //--> \n<KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n
        \ <RESPONSE>\n    <DATETIME>2016-02-23T22:43:52Z</DATETIME>\n    <VULN_LIST>\n
        \     <VULN>\n        <QID>38602</QID>\n        <VULN_TYPE>Vulnerability</VULN_TYPE>\n
        \       <SEVERITY_LEVEL>4</SEVERITY_LEVEL>\n        <TITLE><![CDATA[OpenSSL
        Multiple Remote Security Vulnerabilities]]></TITLE>\n        <CATEGORY>General
        remote services</CATEGORY>\n        <LAST_SERVICE_MODIFICATION_DATETIME>2015-09-02T17:43:14Z</LAST_SERVICE_MODIFICATION_DATETIME>\n
        \       <PUBLISHED_DATETIME>2014-06-05T22:47:47Z</PUBLISHED_DATETIME>\n        <PATCHABLE>1</PATCHABLE>\n
        \       <SOFTWARE_LIST>\n          <SOFTWARE>\n            <PRODUCT><![CDATA[openssl]]></PRODUCT>\n
        \           <VENDOR><![CDATA[openssl]]></VENDOR>\n          </SOFTWARE>\n
        \       </SOFTWARE_LIST>\n        <VENDOR_REFERENCE_LIST>\n          <VENDOR_REFERENCE>\n
        \           <ID><![CDATA[OpenSSL Security Advisory [05 Jun 2014]]]></ID>\n
        \           <URL><![CDATA[https://www.openssl.org/news/secadv/20140605.txt]]></URL>\n
        \         </VENDOR_REFERENCE>\n        </VENDOR_REFERENCE_LIST>\n        <CVE_LIST>\n
        \         <CVE>\n            <ID><![CDATA[CVE-2014-0224]]></ID>\n            <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0224]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2014-0221]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0221]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2014-0195]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0195]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2014-0198]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0198]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2010-5298]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-5298]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2014-3470]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-3470]]></URL>\n
        \         </CVE>\n          <CVE>\n            <ID><![CDATA[CVE-2014-0076]]></ID>\n
        \           <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-0076]]></URL>\n
        \         </CVE>\n        </CVE_LIST>\n        <DIAGNOSIS><![CDATA[The OpenSSL
        Project is an Open Source toolkit implementing the Secure Sockets Layer (SSL
        v2/v3) and Transport Layer Security (TLS v1) protocols as well as a general
        purpose cryptography library.\nOpenSSL contains the following vulnerabilities:
        \n<P>CVE-2014-0224: An attacker using a carefully crafted handshake can force
        the use of weak keying material in OpenSSL SSL/TLS clients and servers. This
        can be exploited by a Man-in-the-middle (MITM) attack where the attacker can
        decrypt and modify traffic from the attacked client and server. \n<P>CVE-2014-0221:
        By sending an invalid DTLS handshake to an OpenSSL DTLS client the code can
        be made to recurse eventually crashing in a DoS attack. Only applications
        using OpenSSL as a DTLS client are affected. \n<P>CVE-2014-0195: A buffer
        overrun attack can be triggered by sending invalid DTLS fragments to an OpenSSL
        DTLS client or server. This is potentially exploitable to run arbitrary code
        on a vulnerable client or server. Only applications using OpenSSL as a DTLS
        client or server affected. \n<P>CVE-2014-3470: OpenSSL TLS clients enabling
        anonymous ECDH ciphersuites are subject to a denial of service attack.\n\n<P>Affected
        Versions:\nOpenSSL before 0.9.8za, 1.0.0 before 1.0.0m, and 1.0.1 before 1.0.1h.\n\n<P>The
        QID detection relies on the change in openssl behavior.\n<BR>1. The scanner
        starts a SSL (TLSv1 session) by sending a ClientHello message to the server\n<BR>2.
        The scanner waits for the server to respond with its Serverhello,KeyExchange
        and ServerDone message.\n<BR>3. Then the scanner sends a ChangeCipherSpec
        message. This message is out-of-order. \n<BR>4. The fixed version of openssl
        will reject this message with an alert &quot;Unexpected message&quot;. The
        vulnerable version will attempt to proceed with the incomplete session. It
        will fail because of the missing shared key and return an alert &quot;Decryption
        failed&quot;. The target would be vulnerable because it shouldn't even have
        proceeded to the point where it attempted to decrypt anything.\n<P>\nThe QID
        results of &quot;Expecting Unexpected Message Alert(0x0A)&quot; means the
        target attempted to decrypt and did NOT send the expected Unexpected Message
        alert.\n]]></DIAGNOSIS>\n        <CONSEQUENCE><![CDATA[Depending on the vulnerability
        being exploited, an unauthenticated, remote attacker could conduct man-in-the-middle
        attacks, run arbitrary code or cause a denial of service condition on the
        targeted system.]]></CONSEQUENCE>\n        <SOLUTION><![CDATA[Customers are
        advised to install <A HREF=\"http://openssl.org/source/old/\" TARGET=\"_blank\">OpenSSL
        versions 0.9.8za, 1.0.0m, 1.0.1h</A> or later to remediate this vulnerability.\n<P>For
        embedded systems, please contact the embedded system vendor for updates.\n<P>Patch:<BR>\nFollowing
        are links for downloading patches to fix the vulnerabilities:\n<P> <A HREF=\"https://www.openssl.org/source/\"
        TARGET=\"_blank\">OpenSSL Security Advisory [05 Jun 2014]: .*</A>\n\n<P>Virtual
        Patches:<BR>\n<A HREF=\"http://www.trendmicro.com/vulnerabilitycontrols \"TARGET=\"_blank\">Trend
        Micro Virtual Patching</A><BR>\nVirtual Patch #1006089: 1006089 - OpenSSL
        \"do_ssl3_write()\" NULL Pointer Dereference Vulnerability<BR>\nVirtual Patch
        #1006162: 1006162 - OpenSSL Anonymous ECDH Denial Of Service Vulnerability<BR>\nVirtual
        Patch #1006092: 1006092 - DTLS Invalid Fragment Vulnerability (CVE-2014-0195)<BR>\n]]></SOLUTION>\n
        \       <CORRELATION>\n          <EXPLOITS>\n            <EXPLT_SRC>\n              <SRC_NAME><![CDATA[Core
        Security]]></SRC_NAME>\n              <EXPLT_LIST>\n                <EXPLT>\n
        \                 <REF><![CDATA[CVE-2014-0224]]></REF>\n                  <DESC><![CDATA[OpenSSL
        ChangeCipherSpec Message Vulnerability Checker - Core Security Category :
        Exploits/Remote]]></DESC>\n                </EXPLT>\n                <EXPLT>\n
        \                 <REF><![CDATA[CVE-2014-0195]]></REF>\n                  <DESC><![CDATA[OpenSSL
        DTLS Fragment Buffer Overflow DoS - Core Security Category : Denial of Service/Remote]]></DESC>\n
        \               </EXPLT>\n              </EXPLT_LIST>\n            </EXPLT_SRC>\n
        \           <EXPLT_SRC>\n              <SRC_NAME><![CDATA[Metasploit]]></SRC_NAME>\n
        \             <EXPLT_LIST>\n                <EXPLT>\n                  <REF><![CDATA[CVE-2014-0224]]></REF>\n
        \                 <DESC><![CDATA[OpenSSL Server-Side ChangeCipherSpec Injection
        Scanner - Metasploit Ref : /modules/auxiliary/scanner/ssl/openssl_ccs]]></DESC>\n
        \                 <LINK><![CDATA[http://www.metasploit.com/modules/auxiliary/scanner/ssl/openssl_ccs]]></LINK>\n
        \               </EXPLT>\n                <EXPLT>\n                  <REF><![CDATA[CVE-2014-0195]]></REF>\n
        \                 <DESC><![CDATA[OpenSSL DTLS Fragment Buffer Overflow DoS
        - Metasploit Ref : /modules/auxiliary/dos/ssl/dtls_fragment_overflow]]></DESC>\n
        \                 <LINK><![CDATA[http://www.metasploit.com/modules/auxiliary/dos/ssl/dtls_fragment_overflow]]></LINK>\n
        \               </EXPLT>\n              </EXPLT_LIST>\n            </EXPLT_SRC>\n
        \         </EXPLOITS>\n        </CORRELATION>\n        <CVSS>\n          <BASE>6.8</BASE>\n
        \         <TEMPORAL>5.6</TEMPORAL>\n          <ACCESS>\n            <VECTOR>3</VECTOR>\n
        \           <COMPLEXITY>2</COMPLEXITY>\n          </ACCESS>\n          <IMPACT>\n
        \           <CONFIDENTIALITY>2</CONFIDENTIALITY>\n            <INTEGRITY>2</INTEGRITY>\n
        \           <AVAILABILITY>2</AVAILABILITY>\n          </IMPACT>\n          <AUTHENTICATION>1</AUTHENTICATION>\n
        \         <EXPLOITABILITY>3</EXPLOITABILITY>\n          <REMEDIATION_LEVEL>1</REMEDIATION_LEVEL>\n
        \         <REPORT_CONFIDENCE>3</REPORT_CONFIDENCE>\n        </CVSS>\n        <PCI_FLAG>1</PCI_FLAG>\n
        \       <DISCOVERY>\n          <REMOTE>1</REMOTE>\n        </DISCOVERY>\n
        \     </VULN>\n    </VULN_LIST>\n  </RESPONSE>\n</KNOWLEDGE_BASE_VULN_LIST_OUTPUT>\n<!--
        This report was generated with an evaluation version of Qualys //--> \n<!--
        CONFIDENTIAL AND PROPRIETARY INFORMATION. Qualys provides the QualysGuard
        Service \"As Is,\" without any warranty of any kind. Qualys makes no warranty
        that the information contained in this report is complete or error-free. Copyright
        2016, Qualys, Inc. //--> \n"
  recorded_at: Tue, 23 Feb 2016 22:43:59 GMT
recorded_with: VCR 3.0.1
