---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/scan/?action=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - ruby qualys_api
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '86400'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '288'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE SCAN_LIST_OUTPUT
        SYSTEM \"https://qualysapi.qualys.eu/api/2.0/fo/scan/scan_list_output.dtd\">\n<!--
        This report was generated with an evaluation version of Qualys //--> \n<SCAN_LIST_OUTPUT>\n
        \ <RESPONSE>\n    <DATETIME>2016-02-24T10:05:46Z</DATETIME>\n    <SCAN_LIST>\n
        \     <SCAN>\n        <REF>scan/1455012730.70775</REF>\n        <TYPE>On-Demand</TYPE>\n
        \       <TITLE><![CDATA[Test Scan]]></TITLE>\n        <USER_LOGIN>crtex-sc</USER_LOGIN>\n
        \       <LAUNCH_DATETIME>2016-02-09T10:12:10Z</LAUNCH_DATETIME>\n        <DURATION>00:06:05</DURATION>\n
        \       <PROCESSED>1</PROCESSED>\n        <STATUS>\n          <STATE>Finished</STATE>\n
        \       </STATUS>\n        <TARGET><![CDATA[176.28.50.165]]></TARGET>\n      </SCAN>\n
        \   </SCAN_LIST>\n  </RESPONSE>\n</SCAN_LIST_OUTPUT>\n<!-- This report was
        generated with an evaluation version of Qualys //--> \n<!-- CONFIDENTIAL AND
        PROPRIETARY INFORMATION. Qualys provides the QualysGuard Service \"As Is,\"
        without any warranty of any kind. Qualys makes no warranty that the information
        contained in this report is complete or error-free. Copyright 2016, Qualys,
        Inc. //--> \n"
  recorded_at: Wed, 24 Feb 2016 10:05:46 GMT
recorded_with: VCR 3.0.1
